:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html {
  margin: 0;
}
body,
html {
  display: flex;
  width: 100svw;
  height: 100svh;
}

button {
  background: none;
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

#ol-map-osrm {
  width: calc(100% - 500px);
  height: 100%;
}
#app-vue-osrm {
  width: 500px;
  height: 100%;
}
